---
layout: layouts/base.njk
---
<article>
  {% if image %}
  <img class="article-hero" src="{{ image }}" alt="{{ image_alt or title }}">
  {% endif %}
  <h1>{{ title }}</h1>
  {{ content | safe }}
  <div class="newsletter-cta">
    <p>Vous avez aimé cet article ? Inscrivez-vous à l'infolettre.</p>
    <div class="ml-embedded" data-form="OMwffF"></div>
  </div>
</article>
